/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --button-color: #ff0070;
  --shadow-color: #ff0070;
  --shadow-l-color: #ff0070;
  --title-2-color: #ff0070;
  --title-3-color: #000028;
  --title-ul-color: #000028;
  --corner-color: #ff0070;
  --decor-color: #ff0070;

}
